<a href="https://colab.research.google.com/github/sg758253/IDS/blob/main/HW4/problem2_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# import csv
library(readr)

In [8]:
df <- read_csv("https://raw.githubusercontent.com/sg758253/IDS/main/HW4/nutrition_subset.csv")

Rows: 961 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): food_item
dbl (3): weight_in_grams, saturated_fat, cholesterol

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [16]:
head(df,10)

   food_item                              weight_in_grams saturated_fat
1  CHEESECAKE                    1 CAKE   1110            119.9
2  ICE CREAM; VANLLA; RICH 16% FT1/2 GAL  1188            118.3
3  YELLOWCAKE W/ CHOCFRSTNG;COMML1 CAKE   1108             92.0
4  CREME PIE                     1 PIE     910             90.1
5  LARD                          1 CUP     205             80.4
6  ICE CREAM; VANLLA; REGULR 11% 1/2 GALN 1064             71.3
7  CARROT CAKE;CREMCHESE FRST;REC1 CAKE   1536             66.0
8  BUTTER; SALTED                1/2 CUP   113             57.1
9  BUTTER; UNSALTED              1/2 CUP   113             57.1
10 DEVIL'S FOOD CAKE;CHOCFRST;FMX1 CAKE   1107             55.6
   cholesterol
1  2053
2   703
3   609
4    46
5   195
6   476
7  1183
8   247
9   247
10  598

In [17]:
#Checking missing values
sum(is.na(df))

[1] 0

# 3. Sort the data set by saturated_ fat and produce a listing of the five food items highest in saturated fat. Comment on the validity of comparing food items of different sizes.

In [18]:
#Sorting saturated fat into desending order
head(df[order(df$saturated_fat, decreasing=TRUE), 1:4])

  food_item                              weight_in_grams saturated_fat
1 CHEESECAKE                    1 CAKE   1110            119.9
2 ICE CREAM; VANLLA; RICH 16% FT1/2 GAL  1188            118.3
3 YELLOWCAKE W/ CHOCFRSTNG;COMML1 CAKE   1108             92.0
4 CREME PIE                     1 PIE     910             90.1
5 LARD                          1 CUP     205             80.4
6 ICE CREAM; VANLLA; REGULR 11% 1/2 GALN 1064             71.3
  cholesterol
1 2053
2  703
3  609
4   46
5  195
6  476

In [45]:
df$saturated_fat_per_gram <- df$saturated_fat/df$weight_in_grams

In [47]:
head(df[order(df$saturated_fat_per_gram, decreasing=TRUE), 1:5])

  food_item                             weight_in_grams saturated_fat
1 BUTTER; SALTED                1 TBSP   14              7.1
2 BUTTER; UNSALTED              1 TBSP   14              7.1
3 BUTTER; SALTED                1/2 CUP 113             57.1
4 BUTTER; UNSALTED              1/2 CUP 113             57.1
5 BUTTER; SALTED                1 PAT     5              2.5
6 BUTTER; UNSALTED              1 PAT     5              2.5
  cholesterol saturated_fat_per_gram
1  31         0.5071429
2  31         0.5071429
3 247         0.5053097
4 247         0.5053097
5  11         0.5000000
6  11         0.5000000

In [48]:
summary(df$saturated_fat_per_gram)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
0.00000 0.00000 0.00800 0.03717 0.04735 0.50714

In [49]:
zscore=abs((df$saturated_fat_per_gram-mean(df$saturated_fat_per_gram))/sd(df$saturated_fat_per_gram))

In [50]:
q1 <- quantile(df$saturated_fat_per_gram,0.25)
q3 <- quantile(df$saturated_fat_per_gram,0.75)
IQR = q3-q1
IQR

       75%
0.04734694

In [51]:
#lower and upper bound of outliers
lower_bound=q1-(1.5 * IQR)
upper_bound=q3 +(1.5 * IQR)

In [52]:
cat("lower_bound: ", lower_bound)

lower_bound:  -0.07102041

In [53]:
cat("upper_bound: ", upper_bound)

upper_bound:  0.1183673

In [54]:
df[(df.saturated_fat_per_gram<lower_bound) | (df.saturated_fat_per_gram> upper_bound) ]

ERROR: ignored